.gold-btn {
  margin-top: 30px;
  background-color: #ffd700;
  border-color: #ffd700;
  color: #000; /* Sets the font color to black */
}

.gold-btn:hover {
  color: #000; /* Keeps the font color black even on hover */
}
